<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <title><%= title %></title>
</head>
<body>
  <div class="main-conatiner">
    <h1>Score:</h1>
    <div class="quiz-area">
      <p id="question"></p>
      <div class="answers">
        <button>submit</button>
        <button>submit</button>
        <button>submit</button>
        <button>submit</button>
      </div>
    </div>
  </div>

<script src="/static/script.js"></script>
</body>
</html>